
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for a more modern look in Webkit browsers */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(222 47% 11%); /* bg-slate-900 */
}

::-webkit-scrollbar-thumb {
  background: hsl(215 14% 34%); /* bg-slate-600 */
  border-radius: 10px;
  border: 2px solid hsl(222 47% 11%); /* bg-slate-900 */
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(215 13% 47%); /* bg-slate-500 */
}
